.emp-calendar-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
    margin: 20px 0;
  }

.emp-calendar-header {
    text-align: center;
    font-weight: 550;
    font-size: 1.8rem;
    border: 1px solid #b4b4b4;
    border-radius: 5px;
}

.emp-calendar-day {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0.5rem;
    border: 1px solid #b4b4b4;
    border-radius: 5px;
}

  .emp-day-number{
    font-size: 2vw;
    font-weight: bold;
    border-bottom: 1px solid black;
    padding: 0 4px;
    width: fit-content;
  }

  .emp-day-comment{
    font-size: 1.3vw;
    margin-top: 3px;
    color: rgb(26, 37, 151);
  }

  .emp-admin-comments{
    font-size: 1.3vw;
    margin-top: 3px;
    color: rgb(151, 26, 26);
  }

  